# docker containers will use these values with these as default.
MONGO_USERNAME=admin
MONGO_PASSWORD=password
MONGO_HOST=localhost
MONGO_PORT=27017

# If you have a local or production db uncomment this and will override environment above
# MONGODB_URL=mongodb://admin:password@mongodb:27017

# Mongo Express port (customize as needed)
MONGO_EXPRESS_PORT=8081

# Mongo Express web UI will be available at http://localhost:${MONGO_EXPRESS_PORT}